.info {
  display: flex;
  width: 1240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 94px;
}

header {
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.perfil {
  position: relative;
}
.code {
  left: 0.1px;
  bottom: 1px;
  margin-left: 60px;
  position: absolute;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.title h1 {
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

p {
  font: var(--font-family2);
  color: var(--secondary-text-color);
}

.subtitle {
  color: var(--terciary-text-color);
}
