#projects {
  display: flex;
  padding: 72px 120px 144px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.secondHeader {
  display: flex;
  width: 1040px;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  align-items: center;
  gap: 8px;
}
.secondHeader span {
  font: var(--subtititle-icon);
}
.secondHeader h2 {
  color: var(--quaternary-text-color);
  font: var(--tigle-md-asap);
}

.grid {
  display: flex;
  width: 1040px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  display: grid;
  width: 330px;
  height: 280px;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  background-color: var(--background-light);
  border-radius: 12px;
}

.card:hover {
  border: 1.5px solid var(--Base-gray-400, #878ea1);
}
.card img {
  width: 306px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 8px;
}
.card h3 {
  font: var(--text-sm-asap);
  font-weight: 700;
  color: var(--quaternary-text-color);
  padding-bottom: 8px;
}
.card p {
  color: var(--secondary-text-color);
  font: var(--text-sm-maven);
}
